.main {
  width: 100%;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.main h2 {
  margin-bottom: 32px;
  font-size: 24px;
  color: var(--main-text-color);
}

.block {
  display: flex;
  justify-content: center;

  background-color: #eaeaea;
  min-height: 100vh;
  padding: 100px;
}

.windows {
  background-color: #ffffff;
  /* padding: 50px; */
  width: 500px;
  height: 320px;
  border-radius: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
}

.button {
  margin: 12px 12px;
  width: 225px;
  padding-top: 25px;
  border-radius: 10px;
}
