.main {
  width: 100%;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.block {
  background-color: transparent;
  padding: 0;
  }

.windows {
  background-color: #ffffff;
  padding: 20px;
  width: 500px;
  border-radius: 20px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 20px;
}

.button {
  color: #000000;
  border: none;
  padding: 10px 20px;
  width: 225px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}

.button.active {
  background-color: #ffffff;
  padding: 5px 10px;
}

.button h2 {
  font-size: 18px;
  margin: 0;
}
