.header {
  height: 70px;
  display: flex;
  padding: 0 4rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
}

.actionButtons {
  display: flex;
  gap: 20px;
}

.logoutButton {
  background-color: rgb(252, 111, 144);
  color: black;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: rgb(250, 179, 196);
}

.themeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
