.categories {
  color: var(--text-color);
  padding: 50px;
}

.addCategory {
  margin-bottom: 30px;
}

.addCategory form {
  display: flex;
}

.addCategory input {
  width: 250px;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid black;
}

.addCategory button {
  padding: 10px 15px;
  background-color: aqua;
  color: black;
  border-radius: 15px;
  cursor: pointer;
}

.categoriesList {
  display: flex;
  flex-direction: column;
  gap: 10;
}

.categoryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background: var(--task-background-color);
  margin-bottom: 18px;
}

.categoryContent {
  display: flex;

  align-items: center;
}

.categoryButtons {
  display: flex;
  gap: 5px;
}

.editForm {
  display: flex;
  gap: 10;
}

.error {
  color: red;
  margin-top: 15px;
}
