@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
}

h3 {
  margin-bottom: 1rem;
}

section ul {
  list-style: none;
}

section ul li {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.content,
p {
  padding: 1rem 0;
}

.centered {
  text-align: center;
}

.control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

body {
  font-family: "Inter";
  --header-background-color: #ffffff;
  --header-text-color: #000000;
  --main-background-color: #f0f0f0;
  --main-text-color: #000000;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

body.dark {
  font-family: "Inter";
  --header-background-color: rgba(0, 0, 0, 0.85);
  --header-text-color: #ffffff;
  --main-background-color: rgba(0, 0, 0, 0.85);
  --main-text-color: #ffffff;
}
