.mainTasks {
  display: flex;
  height: 100%;
}

.sidePanel {
  width: 300px;
  background-color: aquamarine;
}

.sidePanel ul {
  list-style: none;
  padding: 0;
}

.sidePanel li {
  margin-bottom: 10px;
  cursor: pointer;
}

.content {
  padding: 30px;
}
