.mainTasks {
  display: flex;
  height: 100%;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  padding: 0 12px;
}

.sidePanel {
  width: 300px;
  background-color: var(--side-panel-background-color);
  border-right: 1px solid #aaaaaa;
}

.sidePanel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidePanel li {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--text-color);
  padding: 8px 12px;
  border-radius: 10px;
  border: 2px solid transparent;
}

.sidePanel li a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  padding: 8px 12px;
  border-radius: 10px;
}

.sidePanel li a:hover,
.sidePanel li a.active {
  background-color: var(--hover-background-color);
  color: var(--active-text-color);
}

.content {
  padding: 30px;
  flex-grow: 1;
}

.sidePanel li :any-link {
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.sidePanel li:not(.active):hover {
  background-color: var(--hover-background-color);
}
